<h1><center><FONT COLOR="GREEN">Vishal Yathish</FONT></center></h1>
<h3><center>LinkedIn | GitHub | vishal.yathish@gmail.com</center></h3>
<p>Welcome to my website! I want it noted that I am not & have no interest in being a front-end developer. So pardon the lack of aesthetic quality LOL.</p>
<p>My name is <b>Vishal Yathish</b>, I am a <a href="https://catalog.registrar.ucla.edu/major/2023/ComputerScienceandEngineeringBS"><b>Computer Science and Engineering Major</b></a> at the <b>University of California - Los Angeles (UCLA)</b>. Other academic areas of interest are Statistics & Data Science and Geographic Information Systems & Technologies.</p>
<p>Coursework includes ...</p>
<ul>
    <li>COM SCI 35L: Software Construction</li>
    <li>COM SCI M51A: Logic Design of Digital Systems</li>
    <li>COM SCI 32: Intro to Computer Science II</li>
    <li>STATS 10: Intro to Statistical Reasoning</li>
    <li>LING 1: Intro to Lingustics</li>
</ul>
<p>I host a podcast called <a href=https://open.spotify.com/show/2bZwgOe52p18k5M19RJFSg>On the Rise</a>, where I interview early-stage founders (have since expanded to include investors and other student leaders), which has reached 130K+ views. Completed Season 1, Season 2 ONGOING!! Posted blog post of lessons learned to <a href="https://medium.com/@vishal.yathish/startup-lessons-from-season-1-on-the-rise-podcast-135332ff5849">Medium</a>.</p>
<p>I am a huge, obsessive reader; UCLA libraries, if you are hiring, please hit me up :D. Genres of preference: Historical Fiction & Fantasy. Also really enjoy FanFiction - Harry Potter WBWL Fanfiction will always be a fave, don't judge.</p>
<p>Recent reads ... </p>
<ul>
    <li><i>Circe</i> by Madeline Miller - I could not help re-reading this gem! Her relationships with Helios and Pasiphae, and her first confrontation with Athena are my favorite parts of this book. Eagerly waiting for <i>Persephone</i>!</li>
    <li><i>Avatar, The Last Airbender: The Legacy of Yangchen</i> by F.C. Yee - It's incredible how Yee transformed this iconic show from my childhood into a mature and much broader universe that explores themes such as complex and destructive relationships, loss, and the role of economics and espionage in politic systems. Both this and the Kyoshi series have been brilliant.</li>
    <li><i>Harry Potter & The Prince of Slytherin (FanFiction)</i> by TheSinisterMan - Dedicated follower of this series. Waiting to see the Toymaker's revenge! :D</li>
</ul>
<p>Other interests ... (if you couldn't tell, I just found the list feature in HTML, so having fun with it :D)p>
<ul>
    <li>Walking around my neighborhood & finding new parts/areas I haven't seen before; something I did a lot before moving to college</li>
    <li>Learning new languages, or trying to at least LOL</li>
</ul>